.error{
    z-index:1;
    position:absolute;
    top:0;
    background-color: #EEEEEE;
    min-height:100%;
    min-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}